* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  height: 100%;
}
.header {
  width: 100%;
  max-width: 1100px;
  height: 230px;
  background-image: url("../images/drawing.svg");
  background-size: contain;
  background-repeat: no-repeat;
  .logo {
    position: relative;
    left: 40px;
    top: 20px;
    width: 50%;
    height: 50%;
    background-image: url("../images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 900px) {
  .header {
    height: 180px;
  }
}
@media screen and (max-width: 500px) {
  .header {
    height: 100px;
    .logo {
      top: 10px;
    }
  }
}
@media screen and (max-width: 400px) {
  .header {
    height: 80px;
  }
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background: #ffc71c;
}
.logo-footer {
  width: 100px;
  height: 50px;
  background-image: url("../images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.beers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
}
.box {
  width: 200px;
  height: 200px;
  border: 1px solid black;
}
.box-img {
  width: 100px;
  height: 100px;
}
.star-outline {
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(
    50% 0%,
    62% 31%,
    98% 35%,
    73% 56%,
    79% 91%,
    50% 74%,
    21% 91%,
    26% 57%,
    2% 35%,
    37% 31%
  );

  width: 38px;
  height: 38px;
  background: black;
}
.star {
  clip-path: polygon(
    50% 0%,
    62% 31%,
    98% 35%,
    73% 56%,
    79% 91%,
    50% 74%,
    21% 91%,
    26% 57%,
    2% 35%,
    37% 31%
  );

  width: 30px;
  height: 30px;
  background: white;
  cursor: pointer;
  &:hover {
    background: yellow;
  }
}
.is-clicked {
  background: yellow;
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 60px;
  border: 1px solid black;
}
